<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Banana-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,54}}</string>
                <key>sourceSize</key>
                <string>{22,54}</string>
            </dict>
            <key>frame-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{196,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,278}}</string>
                <key>sourceSize</key>
                <string>{196,278}</string>
            </dict>
            <key>frame-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{195,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,277}}</string>
                <key>sourceSize</key>
                <string>{195,277}</string>
            </dict>
            <key>frame-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2},{194,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,283}}</string>
                <key>sourceSize</key>
                <string>{194,283}</string>
            </dict>
            <key>frame-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{193,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,290}}</string>
                <key>sourceSize</key>
                <string>{193,290}</string>
            </dict>
            <key>frame-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{194,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,287}}</string>
                <key>sourceSize</key>
                <string>{194,287}</string>
            </dict>
            <key>frame-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{195,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,280}}</string>
                <key>sourceSize</key>
                <string>{195,280}</string>
            </dict>
            <key>frame-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,294},{195,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,277}}</string>
                <key>sourceSize</key>
                <string>{195,277}</string>
            </dict>
            <key>frame-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,294},{195,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,279}}</string>
                <key>sourceSize</key>
                <string>{195,279}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monkey.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c63ac17999f746ee253cb9e63215058f:7b9d55d9c4db1e73987b80a4545fa776:c408e1678cc8476d89ba18c5256b3484$</string>
            <key>textureFileName</key>
            <string>monkey.png</string>
        </dict>
    </dict>
</plist>
