<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,842},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>boom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{256,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,322}}</string>
                <key>sourceSize</key>
                <string>{256,322}</string>
            </dict>
            <key>boom10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,2},{256,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,322}}</string>
                <key>sourceSize</key>
                <string>{256,322}</string>
            </dict>
            <key>boom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,650},{256,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,322}}</string>
                <key>sourceSize</key>
                <string>{256,322}</string>
            </dict>
            <key>boom3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1153},{256,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,322}}</string>
                <key>sourceSize</key>
                <string>{256,322}</string>
            </dict>
            <key>boom4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1153},{256,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,322}}</string>
                <key>sourceSize</key>
                <string>{256,322}</string>
            </dict>
            <key>boom5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,1130},{256,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,322}}</string>
                <key>sourceSize</key>
                <string>{256,322}</string>
            </dict>
            <key>boom6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,806},{256,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,322}}</string>
                <key>sourceSize</key>
                <string>{256,322}</string>
            </dict>
            <key>boom7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,650},{256,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,322}}</string>
                <key>sourceSize</key>
                <string>{256,322}</string>
            </dict>
            <key>boom8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,482},{256,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,322}}</string>
                <key>sourceSize</key>
                <string>{256,322}</string>
            </dict>
            <key>boom9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,326},{256,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,322}}</string>
                <key>sourceSize</key>
                <string>{256,322}</string>
            </dict>
            <key>city_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1080,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,340}}</string>
                <key>sourceSize</key>
                <string>{1080,340}</string>
            </dict>
            <key>city_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{966,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{966,304}}</string>
                <key>sourceSize</key>
                <string>{966,304}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,650},{346,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,190}}</string>
                <key>sourceSize</key>
                <string>{346,190}</string>
            </dict>
            <key>explosion_small1.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1674},{200,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,204}}</string>
                <key>sourceSize</key>
                <string>{200,204}</string>
            </dict>
            <key>explosion_small2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1176},{200,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,204}}</string>
                <key>sourceSize</key>
                <string>{200,204}</string>
            </dict>
            <key>explosion_small3.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1468},{200,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,204}}</string>
                <key>sourceSize</key>
                <string>{200,204}</string>
            </dict>
            <key>explosion_small4.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1674},{200,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,204}}</string>
                <key>sourceSize</key>
                <string>{200,204}</string>
            </dict>
            <key>explosion_small5.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1176},{200,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,204}}</string>
                <key>sourceSize</key>
                <string>{200,204}</string>
            </dict>
            <key>explosion_small6.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1468},{200,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,204}}</string>
                <key>sourceSize</key>
                <string>{200,204}</string>
            </dict>
            <key>explosion_small7.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,974},{200,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,204}}</string>
                <key>sourceSize</key>
                <string>{200,204}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,974},{492,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,291}}</string>
                <key>sourceSize</key>
                <string>{492,291}</string>
            </dict>
            <key>halo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1468},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>health.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,974},{130,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,166}}</string>
                <key>sourceSize</key>
                <string>{130,166}</string>
            </dict>
            <key>health_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{176,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,170}}</string>
                <key>sourceSize</key>
                <string>{176,170}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{702,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,478}}</string>
                <key>sourceSize</key>
                <string>{702,478}</string>
            </dict>
            <key>meteor.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,344},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>shockwave.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,639},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sparkle.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,842},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>trees.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,482},{528,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,155}}</string>
                <key>sourceSize</key>
                <string>{528,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite_sheet.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ae2321fb046220ed6f1b90efc452ea5$</string>
            <key>textureFileName</key>
            <string>sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
