<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="spine_portableVS.Droid" android:versionCode="1" android:versionName="1.0">
<uses-sdk />
<application android:label="spine_portableVS.Droid" android:icon="@drawable/Icon"></application>
</manifest>