<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bananas.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{7,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,15}}</string>
                <key>sourceSize</key>
                <string>{7,15}</string>
            </dict>
            <key>coconut.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>duck.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,2},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>eating1.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>eating2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>eating3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{27,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,35}}</string>
                <key>sourceSize</key>
                <string>{27,35}</string>
            </dict>
            <key>hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,37},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>walking1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,37},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>walking2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,37},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monkey_spritesheet.png</string>
            <key>size</key>
            <string>{118,74}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e294fb67cf264cbe64ad4195a34dad5:f552693509c65a26ab06f06250f8be32:b9cfd4bdfacf4dde2ecafa70dcbd4c55$</string>
            <key>textureFileName</key>
            <string>monkey_spritesheet.png</string>
        </dict>
    </dict>
</plist>
