<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{452,276}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{452,276}}</string>
                <key>sourceSize</key>
                <string>{466,290}</string>
            </dict>
            <key>bear2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{418,280}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{418,280}}</string>
                <key>sourceSize</key>
                <string>{466,290}</string>
            </dict>
            <key>bear3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,280},{418,280}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{418,280}}</string>
                <key>sourceSize</key>
                <string>{466,290}</string>
            </dict>
            <key>bear4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,280},{418,280}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{418,280}}</string>
                <key>sourceSize</key>
                <string>{466,290}</string>
            </dict>
            <key>bear5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,560},{418,280}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{418,280}}</string>
                <key>sourceSize</key>
                <string>{466,290}</string>
            </dict>
            <key>bear6.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,560},{408,280}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{408,280}}</string>
                <key>sourceSize</key>
                <string>{466,290}</string>
            </dict>
            <key>bear7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,840},{410,276}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{410,276}}</string>
                <key>sourceSize</key>
                <string>{466,290}</string>
            </dict>
            <key>bear8.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,840},{424,276}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{424,276}}</string>
                <key>sourceSize</key>
                <string>{466,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimBear.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18d656548e7c8c2abc90e16786e54df0:8c925386804b101997e38fd62267b334:54d6702b55af5fdf6703bc37f9eccc1e$</string>
            <key>textureFileName</key>
            <string>AnimBear.png</string>
        </dict>
    </dict>
</plist>
