<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,96}}</string>
                <key>sourceSize</key>
                <string>{140,96}</string>
            </dict>
            <key>clouds.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{140,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,31}}</string>
                <key>sourceSize</key>
                <string>{140,31}</string>
            </dict>
            <key>trees.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{140,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,44}}</string>
                <key>sourceSize</key>
                <string>{140,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background_spritesheet.png</string>
            <key>size</key>
            <string>{144,179}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25e1c7cd57d5ee3b8767c2bd456a5cb6:7e9b2ab8d2907fd51ef3284f91f4a6f0:584e0580597a77eb264c0856dc577cdb$</string>
            <key>textureFileName</key>
            <string>background_spritesheet.png</string>
        </dict>
    </dict>
</plist>
